In [1]:
#importing necessary libaries
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
#data preprocessing
df.shape

(2938, 22)

In [5]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [6]:
#selecting

In [7]:
df['Status'].value_counts()

Developing    2426
Developed      512
Name: Status, dtype: int64

In [8]:
change = {"Status":{ "Developing": 0
         ,"Developed": 1}}
df.replace(change,inplace=True)
df['Status']=df[['Status']].astype('int')

In [9]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,0,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,0,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,0,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,0,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,0,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [10]:
df.columns
missing_values = df.isnull()

In [11]:
#finding out missing value

for col in missing_values.columns.values:
    print(col)
    print(missing_values[col].value_counts())
    print(" ")

Country
False    2938
Name: Country, dtype: int64

Year
False    2938
Name: Year, dtype: int64

Status
False    2938
Name: Status, dtype: int64

Life expectancy
False    2928
True       10
Name: Life expectancy , dtype: int64

Adult Mortality
False    2928
True       10
Name: Adult Mortality, dtype: int64

infant deaths
False    2938
Name: infant deaths, dtype: int64

Alcohol
False    2744
True      194
Name: Alcohol, dtype: int64

percentage expenditure
False    2938
Name: percentage expenditure, dtype: int64

Hepatitis B
False    2385
True      553
Name: Hepatitis B, dtype: int64

Measles
False    2938
Name: Measles , dtype: int64

 BMI
False    2904
True       34
Name:  BMI , dtype: int64

under-five deaths
False    2938
Name: under-five deaths , dtype: int64

Polio
False    2919
True       19
Name: Polio, dtype: int64

Total expenditure
False    2712
True      226
Name: Total expenditure, dtype: int64

Diphtheria
False    2919
True       19
Name: Diphtheria , dtype: int64

 HIV/AIDS
False    2938
Name:  HIV/AIDS, dtype: int64

GDP
False    2490
True      448
Name: GDP, dtype: int64

Population
False    2286
True      652
Name: Population, dtype: int64

 thinness  1-19 years
False    2904
True       34
Name:  thinness  1-19 years, dtype: int64

 thinness 5-9 years
False    2904
True       34
Name:  thinness 5-9 years, dtype: int64

Income composition of resources
False    2771
True      167
Name: Income composition of resources, dtype: int64

Schooling
False    2775
True      163
Name: Schooling, dtype: int64

In [12]:
#dropping unnecessary row and columns
df.drop(columns=['Country'],axis=0,inplace=True)
df.dropna(axis=0,inplace=True)

In [13]:
df.columns

Index(['Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [14]:
df.shape

(1649, 21)

In [15]:
#selecting only relevant features

df1 = df[['Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling']]

In [16]:
X = df1[['Year', 'Status', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling']]
y= df1[['Life expectancy ']]

In [17]:
#splitting data
from sklearn.model_selection import train_test_split

In [18]:
xtrain,xtest,ytrain,ytest = train_test_split(X,y,test_size = 0.2,random_state=1)

In [19]:
print(xtrain.shape,xtest.shape,ytrain.shape,ytest.shape)

(1319, 20) (330, 20) (1319, 1) (330, 1)

In [20]:
#importing linear regression
from sklearn.linear_model import LinearRegression

In [21]:
lr = LinearRegression()

In [22]:
lr.fit(xtrain,ytrain)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [23]:
lr.score(xtest,ytest)

0.8540057559700043

In [24]:
#model Evaluation
from sklearn.metrics import r2_score

In [25]:
predicted_y = lr.predict(xtest)

In [26]:
r2_score(ytest,predicted_y)

0.8540057559700043

In [27]:
predicted_y[0:5]

array([[84.43074553],
       [69.19047426],
       [70.11820042],
       [72.57817429],
       [71.63789866]])

In [28]:
ytest[0:5]

      Life expectancy
254               78.0
2850              73.0
2657              69.7
987               73.9
2214              75.0

In [29]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(ytest, predicted_y))
rms

3.342945846541548

In [30]:
from watson_machine_learning_client import WatsonMachineLearningAPIClient

2020-07-02 05:23:00,376 - watson_machine_learning_client.metanames - WARNING - 'AUTHOR_EMAIL' meta prop is deprecated. It will be ignored.

In [31]:
wml_credentials = {
  "apikey": "gv2hsN5xG_5w91yF6cw1wADrlFR-O8PMsslkBu2Y2tGP",
  "iam_apikey_description": "Auto-generated for key e934cc8b-82f0-4f98-9bb6-d157cbf91736",
  "iam_apikey_name": "wdp-writer",
  "iam_role_crn": "crn:v1:bluemix:public:iam::::serviceRole:Writer",
  "iam_serviceid_crn": "crn:v1:bluemix:public:iam-identity::a/43266cba9967401fbd39f836d3f8f7bd::serviceid:ServiceId-213872fd-e9d4-4d4d-aeea-5f5f9a8b3c06",
  "instance_id": "be62309d-89b8-4d21-9a33-22b9c555ccd1",
  "url": "https://eu-gb.ml.cloud.ibm.com"
}

In [32]:
client = WatsonMachineLearningAPIClient(wml_credentials)

In [33]:
metadata = {
    client.repository.ModelMetaNames.AUTHOR_NAME : 'Ashish',
    client.repository.ModelMetaNames.AUTHOR_EMAIL : 'cse.180310424@silicon.ac.in',
    client.repository.ModelMetaNames.NAME : 'Life_Expectancy_Prediction'
}

In [34]:
stored_data = client.repository.store_model(lr, meta_props=metadata)
stored_data

{'metadata': {'guid': '00b304d5-b353-459f-982c-4546d78f3095',
  'url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095',
  'created_at': '2020-07-02T05:23:00.556Z',
  'modified_at': '2020-07-02T05:23:00.611Z'},
 'entity': {'runtime_environment': 'python-3.6',
  'learning_configuration_url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095/learning_configuration',
  'author': {'name': 'Ashish'},
  'name': 'Life_Expectancy_Prediction',
  'learning_iterations_url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095/learning_iterations',
  'feedback_url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095/feedback',
  'latest_version': {'url': 'https://eu-gb.ml.cloud.ibm.com/v3/ml_assets/models/00b304d5-b353-459f-982c-4546d78f3095/versions/e4184528-7cf2-4cf4-a0b7-9f25d665d591',
   'guid': 'e4184528-7cf2-4cf4-a0b7-9f25d665d591',
   'created_at': '2020-07-02T05:23:00.611Z'},
  'model_type': 'scikit-learn-0.20',
  'deployments': {'count': 0,
   'url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095/deployments'},
  'evaluation_metrics_url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095/evaluation_metrics'}}

In [35]:
guid = client.repository.get_model_uid(stored_data)
guid

'00b304d5-b353-459f-982c-4546d78f3095'

In [36]:
deploy = client.deployments.create(guid)

#######################################################################################

Synchronous deployment creation for uid: '00b304d5-b353-459f-982c-4546d78f3095' started

#######################################################################################


INITIALIZING
DEPLOY_SUCCESS


------------------------------------------------------------------------------------------------
Successfully finished deployment creation, deployment_uid='deb09231-126e-4333-a577-4fada49ab6b6'
------------------------------------------------------------------------------------------------

In [37]:
client.deployments.list()

------------------------------------  -------------------  ------  --------------  ------------------------  -----------------  -------------
GUID                                  NAME                 TYPE    STATE           CREATED                   FRAMEWORK          ARTIFACT TYPE
deb09231-126e-4333-a577-4fada49ab6b6  Artifact deployment  online  DEPLOY_SUCCESS  2020-07-02T05:23:02.945Z  scikit-learn-0.20  model
1406a28f-676d-4ee8-b82f-9a1421cc6802  Artifact deployment  online  DEPLOY_SUCCESS  2020-07-01T19:22:57.035Z  scikit-learn-0.20  model
------------------------------------  -------------------  ------  --------------  ------------------------  -----------------  -------------

In [38]:
deploy

{'metadata': {'guid': 'deb09231-126e-4333-a577-4fada49ab6b6',
  'url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/deployments/deb09231-126e-4333-a577-4fada49ab6b6',
  'created_at': '2020-07-02T05:23:02.945Z',
  'modified_at': '2020-07-02T05:23:03.115Z'},
 'entity': {'runtime_environment': 'python-3.6',
  'name': 'Artifact deployment',
  'scoring_url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/deployments/deb09231-126e-4333-a577-4fada49ab6b6/online',
  'deployable_asset': {'name': 'Life_Expectancy_Prediction',
   'url': 'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/published_models/00b304d5-b353-459f-982c-4546d78f3095',
   'guid': '00b304d5-b353-459f-982c-4546d78f3095',
   'created_at': '2020-07-02T05:23:02.924Z',
   'type': 'model'},
  'description': 'Description of deployment',
  'status_details': {'status': 'DEPLOY_SUCCESS'},
  'model_type': 'scikit-learn-0.20',
  'status': 'DEPLOY_SUCCESS',
  'type': 'online',
  'deployed_version': {'url': 'https://eu-gb.ml.cloud.ibm.com/v3/ml_assets/models/00b304d5-b353-459f-982c-4546d78f3095/versions/e4184528-7cf2-4cf4-a0b7-9f25d665d591',
   'guid': 'e4184528-7cf2-4cf4-a0b7-9f25d665d591'}}}

In [39]:
scoring_endpoints = client.deployments.get_scoring_url(deploy)
scoring_endpoints

'https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/be62309d-89b8-4d21-9a33-22b9c555ccd1/deployments/deb09231-126e-4333-a577-4fada49ab6b6/online'